/* Загальні стилі */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f7fa;
    background-image: url('{% static "images/background.jpeg" %}');
    background-size: cover;
    background-position: center;
    color: #333;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;
}

header, footer {
    background-color: rgba(255, 235, 238, 0.8);
    color: #333;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-bottom: 3px solid #00796b;
}

h1 {
    color: #00796b;
    margin: 0;
    font-family: 'Satisfy', cursive;
}

a {
    color: #00796b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    position: relative;
    z-index: 1;
}

button {
    background-color: #ffccbc;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #ffab91;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin: 5px 0;
}

.error {
    color: red;
}

.sticker {
    position: absolute;
    width: 80px;
    height: 80px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.sticker-1 { background-image: url('{% static "images/1.jpeg" %}'); }
.sticker-2 { background-image: url('{% static "images/2.jpeg" %}'); }
.sticker-3 { background-image: url('{% static "images/3.jpeg" %}'); }
.sticker-4 { background-image: url('{% static "images/4.jpeg" %}'); }
.sticker-5 { background-image: url('{% static "images/5.jpeg" %}'); }


.sticker-1 { top: 10px; left: 10px; }
.sticker-2 { top: 10px; right: 10px; }
.sticker-3 { bottom: 10px; left: 10px; }
.sticker-4 { bottom: 10px; right: 10px; }
.sticker-5 { top: 50%; left: 50%; transform: translate(-50%, -50%); }
